.main2{
  width: 100vw;
  height: 180vh;
  
  
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  position: relative;
  
}
.main22{
  width: 70vw;
  height: 700px;


}
.main22 img{
  width: 40vw;
  height: 550px;
  position: absolute;
  top: 50px;
  right: 90px;
  border-radius: 100%;
  /* box-shadow: 0 0 40px rgba(41, 182, 246, 0.3); */
  /* box-shadow: 0px 0px 50px  white; */
  filter: drop-shadow(0px 0px 250px white);
  border: 3px rgb(7, 7, 40) solid;

}
.main21{
  height: 500px;
  width: 40vw;
  color: white;
  position: absolute;
  top: 12%;
  left: 9%;
  font-size: x-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}
.main21 h2{
  margin: 0px;
  background: url("gra.jpeg") center;
  background-size: cover;
  background-clip: text;
  color: transparent;
  animation: animate 3s linear infinite;
  filter: drop-shadow( 0px 0px 5px rgb(29, 22, 22));
}

@keyframes animate{
  to{
    background-position-x : -500px;
  }
}



.main21 td{
  padding-top: 20px;
}
.main23{
  position: absolute;
  top: 52%;
  left: 4%;
  font-size: large;
}
.main23 h1,h3{
margin: 0px;
}
#t1{
  padding-top: 30px;
}
.main24{
  position: absolute;
  top: 75%;
  left: 4%;
  font-size: large;
}
#t2{
  padding-top: 30px;
}
.main25 {
  height: 40vh;
  width: 100vw;
   background:linear-gradient(135deg, #0f2027, #155751);
  color: white;
  padding-left: 60px;
  font-size: x-large;
}
.main25 ul,h1{
  margin: 0px;
  
}
#t3{
  padding-top: 20px;
}
.foot{
  width: 100vw;
  height: 20vh;
  text-align: center;
  color: white;
  background-color: #0A0F1F;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.main26{
  position: absolute;
  top: 70%;
  left: 15%;
}
#b3{
  height: 50px;
  width: 220px;
  padding: 10px;
  font-size: x-large;
  border-radius: 20px;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: rgb(19, 162, 218);
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
}

#b3:hover{
  transform: scale(1.05);
  background-color: rgb(0, 81, 255);
  transition: all 0.2s ease-in-out;
}
#b3:active{
  transform: scale(0.9);
  transition: all 0.05s ease-in-out;
}
